@page
@model HospiEnCasa.App.Frontend.Pages.PacienteModel
@{
}

<h1>Pacientes</h1>
<table class="table">
    
    
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Numero Telefonico</th>
            <th>Genero </th>
            <th>Ciudad</th>
        </tr>
    @foreach (var varPaciente in Model.ListPacientes)
    {        
        <tr>
            <td>@varPaciente.Nombre</td>
            <td>@varPaciente.Apellido</td>
            <td>@varPaciente.NumeroTelefono</td>
            <td>@varPaciente.Genero</td>
            <td>@varPaciente.Ciudad</td>
        </tr>
    }
</table>
