@page
@model HomePetCareCats.App.Frontend.DetallesPropietarioModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/registros.css" />
</head>
<div class="detalle-container">
    <h2 class="detalle-title">@Model.Propietario.Nombre</h2>

    <div class="detalle-value">
        <span class="detalle-label">Id:</span> @Model.Propietario.Id
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Apellido:</span> @Model.Propietario.Apellido
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Edad:</span> @Model.Propietario.Edad
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Género:</span> @Model.Propietario.Genero
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Número de teléfono:</span> @Model.Propietario.NumeroTelefono
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Ciudad:</span> @Model.Propietario.Ciudad
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Dirección:</span> @Model.Propietario.Direccion
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Email:</span> @Model.Propietario.Email
    </div>

    <div class="text-center">
        <a asp-page="./ListarPropietario" class="btn btn-primary">Regresar a la lista de Propietarios</a>
    </div>
</div>

<style>
    .detalle-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
    }

    .detalle-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .detalle-label {
        font-weight: bold;
    }

    .detalle-value {
        margin-bottom: 10px;
    }
</style>
