@page
@model HospiEnCasa.App.Frontend.Pages.ListaModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/registros.css" />
</head>

<section class="w3l-services-6-main">
    <div class="services-6 py-5">
        <div class="container py-md-3">
            <div class="row mx-1">
        <div class="d-flex justify-content-between align-baseline">
            <h4>
                <i class="fa fa-paw"></i>
                Pacientes
            </h4>
            <a class="btn btn-info table-btn" asp-page="./Crear" >
                <i class="fa fa-plus"></i>
                Añadir
            </a>
        </div>
    </div>
            
            <table class="table my-3">

                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Numero Telefonico</th>
                    <th>Genero </th>
                    <th>Ciudad</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>
                @foreach (var varPaciente in Model.ListPacientes)
                {
                    <tr>
                        <td>@varPaciente.Nombre</td>
                        <td>@varPaciente.Apellido</td>
                        <td>@varPaciente.NumeroTelefono</td>
                        <td>@varPaciente.Genero</td>
                        <td>@varPaciente.Ciudad</td>
                        <td>@varPaciente.Direccion</td>

                        <td>
                            <a class="btn btn-primary table-btn" asp-page="./DetallesPaciente" asp-route-idPaciente="@varPaciente.Id">
                                <i class="fa fa-info-circle"></i>
                                Detalle
                            </a>
                            <a class="btn btn-warning table-btn" asp-page="./EditarPaciente" asp-route-idPaciente="@varPaciente.Id">
                                <i class="fa fa-pencil-square-o"></i>
                                Editar
                            </a>
                            <a class="btn btn-danger table-btn" asp-page="" asp-route-idPaciente="@varPaciente.Id">
                                <i class="fa fa-trash"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>
