@page
@model HomePetCareCats.App.Frontend.Pages.DetallesMascotaModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/registros.css" />
</head>
<div class="detalle-container">
    <h2 class="detalle-title">@Model.Mascota.Nombre</h2>

    <div class="detalle-value">
        <span class="detalle-label">Id:</span> @Model.Mascota.Id
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Raza:</span> @Model.Mascota.Raza
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Fecha de nacimiento :</span> @Model.Mascota.Edad
    </div>
    <div class="detalle-value">
        <span class="detalle-label">Género:</span> @Model.Mascota.Genero
    </div>

    <div class="text-center">
        <a asp-page="./ListarMascota" class="btn btn-primary">Regresar a la lista de Animales</a>
    </div>
</div>

 <style>
        .detalle-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
        }

        .detalle-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .detalle-label {
            font-weight: bold;
        }

        .detalle-value {
            margin-bottom: 10px;
        }
    </style>